@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn-style($bg, $color) {
  background-color: $bg;
  color: $color;
  padding: 10px;
  border-radius: 5px;
}